services:
  gatherer:
    image: ghcr.io/noromet/gatherer:latest
    environment:
      MAX_THREADS: 4
      WEATHERLINK_V1_ENDPOINT: https://api.weatherlink.com/v1/NoaaExt.json
      WEATHERLINK_V2_ENDPOINT: https://api.weatherlink.com/v2/{mode}/{station_id}
      HOLFUY_LIVE_ENDPOINT: http://api.holfuy.com/live/
      HOLFUY_HISTORIC_ENDPOINT: http://api.holfuy.com/archive/
      THINGSPEAK_ENDPOINT: https://api.thingspeak.com/channels
      WUNDERGROUND_ENDPOINT: https://api.weather.com/v2/pws/observations/current
      WUNDERGROUND_DAILY_ENDPOINT: https://api.weather.com/v2/pws/dailysummary/7day
      ECOWITT_ENDPOINT: https://api.ecowitt.net/api/v3/device/real_time
      ECOWITT_DAILY_ENDPOINT: https://api.ecowitt.net/api/v3/device/history
      DATABASE_CONNECTION_URL: postgresql://rhean:password@localhost:5432/noromet
    restart: no
    network_mode: "host"